<h1>Editing Analysis Response File</h1>

<%= render 'form', analysis_response_file: @analysis_response_file %>

<%= link_to 'Show', @analysis_response_file %> |
<%= link_to 'Back', analysis_response_files_path %>
