<div class="analysis-result analysis-result-pass-fail">
  <h2><%= result["key"] %></h2>
  <% if result["passes"] %>
    <div class="alert alert-success">
      <strong>PASSES</strong> - <%= result["message"] %>
    </div>
  <% else %>
    <div class="alert alert-danger">
      <strong>FAILS</strong> - <%= result["message"] %>
    </div>
    <% end %>
</div>
