<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-6">
    <h2>QA Sessions</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong>QA Sessions</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-6">
    <div class="title-action">
      <%= link_to qa_sessions_path, class: 'btn btn-primary', method: :post do %>
      <i class="fa fa-play-circle"></i> Upload
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <% if current_account.qa_sessions.count > 0 %>
      <div class="ibox">
        <div class="ibox-title">
          <h5>QA Sessions</h5>
        </div>
        <div class="ibox-content">
          <%= render 'qa_sessions/qa_sessions', qa_sessions: @qa_sessions %>
        </div>
      </div>
      <% else %>
      <div class="ibox">
        <div class="ibox-title">
          <h5>QA Sessions</h5>
        </div>
        <div class="ibox-content">
          <p>You have no QA sessions.</p>
          <%= link_to qa_sessions_path, class: 'btn btn-primary', method: :post do %>
            <i class="fa fa-play-circle"></i> Upload
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
