<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2>Inspection Files</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Inspections", inspections_path %>
      </li>
      <li>
        <%= link_to @inspection, @inspection %>
      </li>
      <li class="active">
        <strong>Inspection Files</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Inspection Files (<%= @inspection_files.count %>)</h5>
        </div>
        <div class="ibox-content">
          <%= render 'inspection_files', inspection_files: @inspection_files %>
        </div>
      </div>
    </div>
  </div>
</div>
