<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2><%= @site %></h2>
    <ol class="breadcrumb">
      <li>Manage</li>
      <li>
        <%= link_to 'Sites', sites_path %>
      </li>
      <li>
        <%= link_to @site, @site %>
      </li>
      <li>
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Edit site</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', site: @site %>
        </div>
      </div>
    </div>
  </div>
</div>
