<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2><%= @inspection %></h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'inspections', inspections_path %>
      </li>
      <li>
        <%= link_to @inspection, @inspection %>
      </li>
      <li>
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Edit inspection</h5>
        </div>
        <div class="ibox-content">
          <%= render 'form', inspection: @inspection %>
        </div>
      </div>
    </div>
  </div>
</div>
