<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <h2>Create Equipment Protocol</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Scan Protocols', scan_protocols_path %>
      </li>
      <li class="active">
        <strong>New</strong>
      </li>
    </ol>
  </div>
</div>
